// variables.scss
$background: linear-gradient(130deg, rgba(1,35,64,1) 22%, rgba(39,140,140,1) 80%, rgba(39,140,140,1) 012340%);
$color-background: #012340;
$color-background-light: #164059;
$color-accent: #F2EC9B;
$color-accent-secondary: #278C8C;
$color-grey: #5D7A8C;
$color-text: #fff;

$font-size-base: 16px;